

500 ICON MOVEABLE PURE LOADONCALL DISCARDABLE "ICON.ICO"
501 icon "icon.ico"



106 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "Imagens/fundo.bmp"
101 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "Imagens/aviao.bmp"
102 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "Imagens/barco.bmp"
104 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "Imagens/bala.bmp"
105 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "Imagens/fuel.bmp"
103 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "Imagens/helicoptero.bmp"


