

500 ICON MOVEABLE PURE LOADONCALL DISCARDABLE "Imagens/ICON.ICO"
501 icon "Imagens/icon.ico"



106 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "Imagens/fundo.bmp"
101 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "Imagens/aviao.bmp"
102 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "Imagens/barco.bmp"
104 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "Imagens/bala.bmp"
105 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "Imagens/fuel.bmp"
103 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "Imagens/helicoptero.bmp"
107 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "Imagens/placar.bmp"
108 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "Imagens/explosao.bmp"
109 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "Imagens/esquerdaFundo.bmp"
110 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "Imagens/direitaFundo.bmp"
111 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "Imagens/gasometro.bmp"
112 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "Imagens/gas.bmp"
113 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "Imagens/heliE.bmp"

