

500 ICON MOVEABLE PURE LOADONCALL DISCARDABLE "ICON.ICO"
501 icon "icon.ico"


111 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "Sweep.bmp"
112 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "b2.bmp"
106 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "fundo.bmp"


